<!doctype html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Vue.js 3 Login (with Composition API)</title>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
<link rel="stylesheet" href="./styles.css">

<script src="https://cdn.jsdelivr.net/npm/vue@3"></script>

<div id="app">
  <div id="login">
    <div id="description">
      <h1>Login</h1>
      <p>By logging in you agree to the ridiculously long terms that you didn't bother to read.</p>
    </div>
    <div id="form">
      <form @submit.prevent="doLogin">
        <label for="email">Email</label>
        <input type="text" id="email" v-model="email" placeholder="elon@musk.io" autocomplete="off">

        <label for="password">Password</label>&nbsp;
        <i class="fas" :class="[passwordFieldIcon]" @click="hidePassword = !hidePassword"></i>
        <input :type="passwordFieldType" id="password" v-model="password" placeholder="**********">

        <button type="submit">Log in</button>
      </form>
    </div>
  </div>
</div>

<script>
  Vue.createApp({
    setup() {
      const email = Vue.ref("");
      const hidePassword = Vue.ref(true);
      const password = Vue.ref("");

      const passwordFieldIcon = Vue.computed(() => hidePassword.value ? "fa-eye" : "fa-eye-slash");
      const passwordFieldType = Vue.computed(() => hidePassword.value ? "password" : "text");

      const doLogin = () => alert("Not implemented yet :O");

      return {
        email,
        hidePassword,
        password,

        passwordFieldIcon,
        passwordFieldType,

        doLogin
      }
    }
  }).mount("#app");
</script>